
<body>
<div class="welcome">
<h1>TO DO LIST</h1>
</div>
<div style="text-align: center">
<%= link_to 'My Tasks', tasks_path, class:'button2', style: 'font-size: 40px; width: 300px; border-radius: 5px;' %>
</div>

<div style="text-align: center; margin-top: 30px;">
<%= link_to 'New Task', new_task_path, class:'button', style: 'font-size: 40px; width: 300px; border-radius: 5px;' %>
</div>

</body>